@use "@/app/css/base/variables" as *;
@use "@/app/css/utils/mixins" as *;

%btn-base {
	transition:
		background-color 0.6s $app-default-easing,
		color 0.6s $app-default-easing;
}

.button--text-only {
	@extend %btn-base;
	--br: 12px;
	--pv: 14px;
	--ph: 25px;
	background-color: black;
	color: $white;
	border-radius: var(--br);
	padding: var(--pv) var(--ph);
	text-transform: uppercase;
	display: flex;

	@include hover {
		background-color: $light-4;
		color: $dark-1;
	}

	@include focus {
		background-color: $light-5;
		color: $dark-1;
	}

	@include active {
		background-color: $light-5;
		color: $dark-1;
	}

	@include tablet {
		--br: 9px;
		--pv: 10px;
		--ph: 17px;
	}
}

.button__icon {
	--pv: 7px;
	--ph: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--pv) var(--ph);

	@include tablet {
		--pv: 5px;
		--ph: 4px;
	}
}

.button--icon-only {
	@extend %btn-base;
	--pv: 20px;
	--ph: 29px;
	padding: var(--pv) var(--ph);
	background-color: $light-7;

	@include hover {
		background-color: $light-4;
	}

	@include focus {
		background-color: $light-4;
	}

	@include active {
		background-color: $light-4;
	}

	@include tablet {
		--pv: 15px;
		--ph: 21px;
	}
}

.button--icon-right {
	transform: rotate(180deg);
}
